.page {
    overflow: hidden;
}

.page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-left: 255px;
    transition: padding .2s;
    @include respond-to('desktop-bp'){
        padding-left: 96px;
    }
    @include respond-to('desktop-l'){
        padding-left: 0;
        transition: transform .2s;
    }
}

.page.toggle .page__content {
    transform: translateX(255px);
}

.page__container {
    padding: 30px;
    @include respond-to('desktop-xxl'){
        padding: 64px 48px;
    }
    @include respond-to('desktop-xl'){
        padding: 32px 64px;
    }
    @include respond-to('lg-mobile'){
        padding: 0 16px 32px;
    }
}


.page__row {
    display: flex;
    flex-grow: 1;
}

.page__col {
    padding: 0 20px 20px;
}

.page__col:first-child {
    flex: 0 0 calc(100% - 426px);
    max-width: calc(100% - 426px);
}

.page__col:nth-child(2) {
    flex: 0 0 426px;
    width: 426px;
    border-left: 1px solid #E4E4E4;
}


.page.wide .page__content,
.page.full .page__content {
    padding-left: 96px;
}

.page.full.wide .page__content {
    padding-left: 96px;
}

.page__back{
    margin-right: 20px;
    color: rgba(128, 129, 145, 1);
    background: rgba(128, 129, 145, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.page__head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    @include respond-to('lg-mobile'){
        margin-bottom: 0;
    }
    .button{
        font-size: 16px;
        display: flex;
        font-weight: normal;
        svg g [fill]{
            fill: $white;
        }
        span{
            margin-left: 10px;
        }
    }
}

.page_description{
    margin-bottom: 15px;
    @include respond-to('lg-mobile'){
        font-size: 14px;
        margin-bottom: 10px;
    }
}

.page__hr{
    margin-bottom: 38px;
    border-top: transparent;
}

.page__title{
    margin: 20px 0;
    align-items: flex-end;
    p{
        font-weight: bold;
        font-size: 30px;
        line-height: 1;
    }
    span{
        display: flex;
        margin-left: 20px;
        svg{
            margin-right: 5px;
        }
    }
}
.page__video{
    position: relative;
    height: 600px;
    width: 100%;
}
.video__container{
    position: absolute;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    video{
        width: 100%;
    }
}
.video__row{
    position: absolute;
    padding: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.video__control{
    width: 66%;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: flex-end;
    .volume__button{
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        .volume__slider{
            background: linear-gradient(0deg, #355DFF 0%, #355DFF 50%, #fff 50%, #fff 100%);
            border: none;
            border-radius: 8px;
            width: 2px;
            height: 80px;
            outline: none;
            transition: background 450ms ease-in;
            writing-mode: bt-lr; /* IE */
            -webkit-appearance: slider-vertical; /* WebKit */
            margin-bottom: 10px;
            &::-webkit-slider-thumb {
                width: 15px;
                -webkit-appearance: none;
                height: 15px;
                background: #fff;
                border-radius: 50%;
            }
        }
    }
    &-btns{
        display: flex;
        width: 54%;
        align-items: center;
        justify-content: space-between;
        .video__control-icon-ended{
            button{
                padding: 20px;
                border-radius: 25px;
                background: #f74747;
                svg{
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
    button{
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(4px);
        padding: 15px;
        color: $white;
        border-radius: 50%;
        align-items: center;
        display: flex;
        svg{
            width: 24px;
            height: 24px;
        }
    }
}
.d-flex{
    display: flex;
}
.tb__table {
    display: table;
    width: 100%;
    padding: 0 10px 20px;
    @include respond-to('desktop-l'){
        width: 860px;
        margin-bottom: 20px;
    }
}

.tb__container{
    overflow: auto;
    &::-webkit-scrollbar {
        height: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-track {
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #E4E4E4;
        border-radius: 10px;
    }
    @include respond-to('desktop-l'){
        display: flex;
        margin: 0 -64px;
    }
    @include respond-to('lg-mobile') {
        margin: 0 -16px;
    }
}

.tb__row {
    display: table-row;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    color: #11142D;
    transition: all .2s;
    margin-bottom: 20px;
}

.tb__row:nth-child(2n+1) {
    background: rgba(228, 228, 228, 0.2);
}

.tb__row:not(.tb__row_head):hover {
    background: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
}

.tb__cell {
    display: table-cell;
    vertical-align: middle;
    height: 72px;
    font-weight: 600;
    font-size: 15px;
    white-space: nowrap;
    padding: 10px 20px;
}

.tb__description{
    white-space: normal;
    p{
        width: 400px;
        font-size: 15px;
        line-height: 1.05;
    }
}

.tb__cell:last-child {
    padding-right: 16px;
    border-radius: 0 12px 12px 0;
}

.tb__row_head .tb__cell {
    height: 40px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #808191;
}

.tb__row_head .tb__cell:first-child {
    border-radius: 8px 0 0 8px;
}

.tb__row_head .tb__cell:last-child {
    border-radius: 0 8px 8px 0;
}

.tb__btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .button{
        display: flex;
        height: fit-content;
        padding: 10px 20px;
        font-size: 14px;
        align-items: center;
        .icon{
            margin-right: 5px;
            & g [fill]{
                fill: $white;
            }
        }
        &:first-child{
            margin-right: 10px;
        }
    }
}
